.forum_baslik{
		
	margin-bottom: 0px;
	margin-top: -8px;
}

.forum_baslik a{
	color:#D1007C;
	font-weight: bolder;
}

.forum_aciklama{
	padding-left: 10px;
	font-size: 12px;
	color:#222;
	margin-bottom: 0px;
	font: 'Exo' sans-serif;
	line-height: 15px;
}

.td td{
	border-right:1px solid #ccc;
}


.forum_title{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d66091+0,d9005b+100 */
background: #d66091; /* Old browsers */
background: -moz-linear-gradient(top, #d66091 0%, #d9005b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #d66091 0%,#d9005b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #d66091 0%,#d9005b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d66091', endColorstr='#d9005b',GradientType=0 ); /* IE6-9 */
color: #fff;
font-size: 12px;
font-weight: bolder;
} 
.yazar{
font-size: 12px;
color:#A7A7A7;

width: 140px;

}

.forum_konu img{
	border-radius: 5px;
}

.konu_baslik{
	border-bottom:1px dotted #a7a7a7;
	overflow: auto;
	display: block; 
}

.kp{
	font-size: 10px;
}

table .forum_konu {
	border-radius: 5px;
}
