.panel-info > .panel-heading{
	background: #353535 !important;
	color:#fff !important;	
}

.panel-info{
	border-color:#353535 !important; 
}

.uyari1{
	width: 100%;
	border: #EF0B0B 1px solid;
	padding: 10px;
	background: #F79494;
	color:#000;
	font-weight: bolder;
	border-radius: 5px;
}

.loginuser{
	background:#4396ff;

}

.loginuser span{
	color:#fff !important;
}

	
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
